

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    
}

body{
    background-color: rgb(240, 240, 240);
    
    
}

.header{
    background-color: rgb(9, 157, 141);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;    
}

.section-1{
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    display: block ;
    height: 278px;
    width: 200px;
    margin-left:3px;
    margin-top: 30px;
    padding: 20px;
    padding-left: 20px;
    text-align: center;
    margin-bottom: 10px
    

}

.section-2{
background-color: rgb(255, 255, 255);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
height: 278px;
margin-top: 30px;
max-width: 600px;
padding: 20px;
text-align: center;
justify-content: center;
width: 490px;
margin-bottom: 10px
}

.section-3{
background-color: rgb(255, 255, 255);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
height: 400px;
padding: 20px;
text-align: center;
width: 740px;
grid-column: span 2;
justify-self: center;
margin-top: 0px;


}

.main{
column-gap: 10px;
display: grid;
grid-template-columns: 252.969px 527.031px;
height: 700px;
row-gap: 20px;
text-align: center;
width: 700px;
justify-items: center;
align-items: center;
margin: auto;   


}


.btn-1{
    background-color: rgb(9, 157, 141);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
    width: 100%;
}
.btn-1:hover{
    background-color: rgb(7, 126, 110);
}
.btn-2{
    background-color: rgb(9, 157, 141);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
    width: 20%;
}
.btn-2:hover{
    background-color: rgb(7, 126, 110);
}
.input-1{
    border: 1px solid rgb(9, 157, 141);
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.input-2{
    border: 1px solid rgb(9, 157, 141);
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
}

.ul{
    
    margin-top: 20px;
    padding-left:20px;
    list-style: none;
    
}
.ul li{
    
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

.ul-2{
    margin-top: 20px;
    padding-left:20px;
}
.ul-2 li{
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

.tachado {
    text-decoration: line-through;
}